@model DemoApp.Model.UserProfile

@{
    ViewData["Title"] = "Edit";
}


<h4>Edit UserProfile</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PkUserId" />
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" readonly />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input name="userImage" type="file" asp-for="Image" class="form-control-file" />
                <img src="@Model.Image" width="100" height="50" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            @*<div class="form-group">
            <label asp-for="RegisteredDate" class="control-label"></label>
            <input asp-for="RegisteredDate" class="form-control" />
            <span asp-validation-for="RegisteredDate" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="LastLoginDate" class="control-label"></label>
            <input asp-for="LastLoginDate" class="form-control" />
            <span asp-validation-for="LastLoginDate" class="text-danger"></span>
        </div>*@
            <div class="form-group">
                <label asp-for="EmailId" class="control-label"></label>
                <input asp-for="EmailId" class="form-control" />
                <span asp-validation-for="EmailId" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

